{% extends "mobile.html" %}
{% load i18n %}

{% block content %}
    <h2>{{ bill.category }} ({{ bill.value }} Kč) - {% trans "confirmation" %}</h2>
    <form action="." enctype="multipart/form-data" method="post" data-ajax="false">
        {% csrf_token %}
        <p>
            <input type="submit" class="submit" value="{% trans "Delete" %}"/>
            <input type="button" class="submit" value="{% trans "Go back" %}" onclick="document.location='{% url home %}';" />
        </p>
    </form>

{% endblock %}
