{% extends "mobile.html" %}
{% load i18n %}

{% block content %}
    <p><a href="{% url bill_add %}" data-role="button" rel="external">{% trans "Add new item" %}</a></p>
    <br>

    <ul data-role="listview">
        <li data-role="list-divider">{% trans "Bills" %}</li>
        {% if object_list %}
            {% for object in object_list %}
                <li id="{{ object.id }}">
                    <a href="{% url bill_update pk=object.id %}" title="{% trans "Update" %}">
                    <p><strong>{{ object.value }} Kč</strong> {{ object.category }}</p>
                    <p>{{ object.user }} - {{ object.date }}</p>
                    <!--<a href="{% url bill_remove pk=object.id %}" title="{% trans "Delete" %}" data-role="button" data-icon="delete">{% trans "Delete" %}</a>-->
                    {% if object.note %}<p><em>{{ object.note }}</em></p>{% endif %}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

    <script type="text/javascript">
    $("[data-role=listview] li").taphold(function() {
        document.location = "/bill/rm/"+$(this).attr("id")+"/";
    });
    </script>
{% endblock %}
