{% extends "mobile.html" %}
{% load i18n %}

{% block content %}
    <p><a href="{% url category_add %}" data-role="button" rel="external">{% trans "Add new item" %}</a></p>
    <br>

    <ul data-role="listview">
        <li data-role="list-divider">Categories</li>
        {% if object_list %}
            {% for object in object_list %}
                <li id="{{ object.id }}">
                    <a href="{% url category_update pk=object.id %}" title="{% trans "Update" %}">
                        <p><strong>{{ object.name }}</strong></p>
                        <p>{{ object.note }}</p>
                        <!--<a href="{% url category_remove pk=object.id %}" title="{% trans "Delete" %}" data-role="button" data-icon="delete">{% trans "Delete" %}</a>-->
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

    <script type="text/javascript">
        $("[data-role=listview] li").taphold(function() {
            document.location = "/category/rm/"+$(this).attr("id")+"/";
        });
    </script>
{% endblock %}
