{% extends "index.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Bills" %}</h1>

    <a href="{% url bill_add %}">{% trans "Add new item" %}</a>

    <table>
        <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Category" %}</th>
            <th>{% trans "Value" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        </thead>
        {% if object_list %}
            <tbody id="objects_list">
            {% for object in object_list %}
                <tr>
                    <td>{{ object.date }}</td>
                    <td>{{ object.category }}<br>{{ object.user }}</td>
                    <td>{{ object.value }}</td>
                    <td>
                        <a href="{% url bill_update pk=object.id %}" title="{% trans "Update" %}">{% trans "Update" %}</a>
                        <a href="{% url bill_remove pk=object.id %}" title="{% trans "Delete" %}" class="red">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>

    <div class="pagination">
        {% include "paginator.html" %}
    </div>
{% endblock %}
