<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <title>{% trans "MoneyMaker" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
</head>
<body>

<div data-role="page" id="main">

    <div data-role="header">
        <h1>{% trans "MoneyMaker" %}</h1>
    </div><!-- /header -->

    <div data-role="content">
        {% if form.errors %}
            <div class="notification error png_bg">
                <div>
                    Špatně zadané uživatelské jméno nebo heslo. Zkus to prosím znovu.
                </div>
            </div>
        {% endif %}

        <fieldset class="uniForm">
            <form action="{% url django.contrib.auth.views.login %}" method="post" data-ajax="false">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <table>
                    <tr>
                        <th>
                            <label for="id_username">Uživatelské jméno</label>
                        </th>
                        <td>
                            <input id="id_username" type="text" name="username" maxlength="30" class="text-input"/>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_password">Heslo</label>
                        </th>
                        <td>
                            <input type="password" name="password" id="id_password" class="text-input"/>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="button" type="submit" value="Příhlásit"/>
                        </td>
                    </tr>
                </table>

            </form>
        </fieldset>
    </div>

</div><!-- /page -->

</body>
</html>

